.container#account-home
  h1.text-center
    img(src='http://wallet.mychain.io/img/logo.png')
  br
  h2#account-name.text-center.strong
  table.table.table-striped
    thead
      tr
        th Label
        th Recipient address
        th Txid
        th#account-home-amount-head Amount
        th Confirmations
    tbody#account-home-transactions-tbody
  p.text-center
    button#account-home-send-payment-button.btn.btn-success(type='button') Send payment
    |  
    button#account-home-get-paid-button.btn.btn-success(type='button') Get paid
    |  
    button#account-home-list-addresses-button.btn.btn-primary(type='button') List addresses
    |  
    button#account-home-return-button.btn.btn-primary(type='button') Return to wallet home
    |  
    button#account-home-logout-button.btn.btn-danger(type='button') Log out