extends layout

block content
  include index
  include login-grid
  include wallet-home
  include account-home
  include send
  include receive
  include settings
  include addresses
  include transactions
  include prompt