.container.very-padded#index
  h1.text-center
    img(src='http://wallet.mychain.io/img/logo.png')
  br
  button.btn.btn-success.btn-lg.btn-block#index-new-button(type='button') Create a new wallet
  button.btn.btn-primary.btn-lg.btn-block#index-login-button(type='button') Log in