.container.very-padded
  h1.text-center
    | My
    span.holo Wallet
  br
  br
  .login-grid
    - for (var row = 0; row <= 7; row ++){
      tr
        - for (var column = 0; column <= 7; column++){
          div.login-cell(class="color-#{(2*(row%2)+column%2)} row-#{row} column-#{column}")
        - }
        .clear
    - }