.container#wallet-home
  h1.text-center
    img(src='http://wallet.mychain.io/img/logo.png')
  br
  p
    | Your
    br
    | Accounts
    br
    | Go
    br
    | Here
  button.btn.btn-success.btn-lg.btn-block#wallet-home-new-account-button(type='button') Create a new account
  button.btn.btn-primary.btn-lg.btn-block#wallet-home-backup-wallet-button(type='button') Backup your wallet
  button.btn.btn-danger.btn-lg.btn-block#wallet-home-logout-button(type='button') Log out