.container#wallet-home
  h1.text-center
    img(src='http://wallet.mychain.io/img/logo.png')
  br
  table.table.table-striped
    thead
      tr
        th Name
        th Description
        th Signatures
        th Balance (mBTC)
    tbody#wallet-home-accounts-tbody
  p.text-right
    button#wallet-home-new-account-button.btn.btn-success(type='button') Create a new account
    br
    br
    button#wallet-home-backup-wallet-button.btn.btn-primary(type='button') Backup your wallet
    br
    br
    button#wallet-home-logout-button.btn.btn-danger(type='button') Log out