html
  height 100%

body
  min-height 100%
  position relative
  padding-bottom 125px

.holo
  margin 0px
  padding 0px 7px 0px 4px
  background bottom left linear-gradient(#44aaff, #44aaff) no-repeat, bottom center linear-gradient(#44aaff, #44aaff) repeat-x, bottom right linear-gradient(#44aaff, #44aaff) no-repeat
  background-size 2px 9px, 2px 2px, 2px 9px

.spaced
	margin-top 16px
  
.fairly-spaced
  margin-top 54px
  
.very-spaced
  margin-top 200px

.padded
	padding-top 16px
  
.fairly-padded
  padding-top 54px

.very-padded
  padding-top 200px

.footer
  position absolute
  right 0px
  bottom 20px
  left 0px
  border 0px
  padding 0px
  text-align center

.login-grid
  border 0px
  padding 0px
  margin 20px auto 0px auto
  width 60%
  
.login-cell
  border 0px
  padding 0px
  margin 0px
  width 12.5%
  float left
  font-weight bold

.color-0
  background-color #ff8888

.color-1
  background-color #88ff88
  
.color-2
  background-color #8888ff

.color-3
  background-color #ffff88

.strong
  font-weight bold

.clear
  border 0px
  padding 0px
  margin 0px
  width 0px
  height 0px
  clear both

#prompt
  border 0px
  padding 0px
  margin 0px
  width 100%
  height 100%
  z-index 42
  background-image url('http://wallet.mychain.io/img/dark-transparency.png')
  position fixed
  top 0px
  left 0px
  
#prompt-window
  border 0px
  padding 8px
  margin 0px
  background-color #eeeeee
  width 500px
  position fixed
  top 30%
  left 50%
  margin-top 0px
  margin-left -250px

.hidden
  display none